<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../Autoloader.php">
    <testsuites>
	    <testsuite name="thumbs_generator">
				<directory>../tests/library/ThumbnailsGeneratorResize</directory>
			</testsuite>
			<testsuite name="simple_image_modification_suite">
				<directory>../tests/library/ClaviskaImageModificationSuite</directory>
			</testsuite>
    </testsuites>
</phpunit>
